H1 {Color: White;
    Font-Size:40px;
    }
H2 {Color: White;
    Font-Size:40px;
    }  
H3 {Color: White;
    Font-Size:40px;
   }
 H4 {Color: White;
    Font-Size:40px;
   }
H5 {Color: White;
    Font-Size:40px;
   }
H6 {Color: White;
    Font-Size:40px;
   }
H7 {Color: White;
    Font-Size:40px;
   }    
H8 {Color: White;
    Font-Size:40px;
   }
p {Color: White;
   Font-Size:40px;
}